    sup{
            font-size: smaller;
            margin-left: 2px;
            vertical-align: super;
        }
        i {
            font-style: italic;
            color: Blue;
            text-decoration: underline;
            text-shadow: 1px 1px 2px gray;
            font-size: larger;
            margin: 20px;
        }
        div {
            margin: 10px;
            border: 1px solid black;
            border-radius: 27.5px;
            width: 200px;
            text-align: center;
            box-shadow: inset 2px 2px 5px rgba(211, 0, 0, 0.1);
            transition: all 0.3s ease;
        }
     